<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - APKA Doc</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>APKA Doc</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/prediction">Disease Prediction</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
            </ul>
        </nav>
    </header>

    <section class="contact-hero">
        <div class="contact-container">
            <div class="left-column">
                <h1>Connect with Us</h1>
                <h2>APKA DOC Headquarters</h2>
                <p>999<sup>th</sup> Block</p>
                <p>Framed Street</p>
                <p>Bengaluru, KA 560061</p>
                <p>Phone: <a href="ph: +917628816577">+91 762 881 6577</a></p>

                <h2>Online</h2>
                <p>Press & News: <a href="#">Contact Public Relations</a></p>
                <p>For Product Assistance: <a href="#">Contact Support</a></p>
                <p>Corporate Development: <a href="#">Contact Us</a></p>
            </div>
            <div class="right-column">
                <form action="#" method="post">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" required></textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 APKA Doc | All Rights Reserved</p>
    </footer>

</body>

</html>