<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APKA Doc</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <h1>APKA Doc</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/prediction">Disease Prediction</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="hero-content">
            <div class="text">
                <!-- <h2>Empowering Healthcare with AI</h2> -->
                <h2>Early Detection, Smarter Decisions</h2>
                <!-- <p>Advanced AI-driven multi-disease prediction and real-time health solutions.</p> -->
                <p>AI-powered disease prediction and intelligent chatbot assistance for better health insights.</p>
            </div>
            <button class="cta-button">Get Started</button>
        </div>
        <div class="hero-image">
            <img src="/static/images/heart3.png" alt="Heart-Img">
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <p>&copy; 2024 APKA Doc | AI-Powered Healthcare</p>
    </footer>
</body>

</html>